.nav-main-cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  padding: 20px;
  border-bottom: 1px solid black;
}

.nav-img-cnt {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-btn-cnt {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 700px;
}

.nav-btn {
  border: none;
  background-color: white;
  font-size: 19px;
  font-weight: 600;
  cursor: pointer;
}

.nav-btn:hover {
  color: rgb(23, 177, 177);
  font-weight: 700;
}
